<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>{{page.title}} &ndash; Cognition and Language Lab</title>
		<link href="css/style.css" rel="stylesheet">
	</head>
	<header>
<div id="banner">
	    <img src="images/schwa.png" height="50">
	    <img src="images/brane.png" height="50">
            Bever Language and Cognition Lab<!-- /logo -->
	    <img src="images/hemi.png" height="50">
	    <img src="images/saussure.png" height="50">
</div><!-- banner -->
<div id="navigation">
<ul align="center">
<li ><a href="index">Home</a></li>
<li><a href="projects">Projects</a></li>
<li><a href="papers">Papers</a></li>
<li><a href="people">People</a></li>
<li><a href="tom">Tom Bever</a></li>
</ul>
</div><!-- /navigation -->
	</header>
	<body>
		<div id="content">
		{{content}}
		</div>
	</body>
</html>
