<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Cognition and Language Lab</title>
		<link href="css/style.css" rel="stylesheet">
	</head>
	<header>
<div id="banner">
	    <img src="images/brane.png" height="50">
            Bever Language and Cognition Lab<!-- /logo -->
	    <img src="images/hemi.png" height="50">
</div><!-- banner -->
<div id="navigation">
<ul>
<li ><a href="index.html">Home</a></li>
<li><a href="projects.html">Projects</a></li>
<li><a href="papers.html">Papers</a></li>
<li id="active"><a href="students.html">Students</a></li>
<li><a href="bever.html">Tom Bever</a></li>
</ul>
</div><!-- /navigation -->
	</header>
	<body>
		<div id="content">
		{{content}}
		</div>
	</body>
</html>
