<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Cognition and Language Lab</title>
		<link href="css/style.css" rel="stylesheet">
	</head>
	<header>
<div id="banner">
	    <img src="images/brane.png" height="50">
            Bever Language and Cognition Lab<!-- /logo -->
	    <img src="images/hemi.png" height="50">
</div><!-- banner -->
		
		<nav>
			<tr>
				<td><a href="index">Home</a></td>
				<td><a href="tom">Tom</a></td>
				<td><a href="papers">Papers</a></td>
				<td><a href="people">People</a></td>
			</tr>
		</nav>
	</header>
	<body>
		{{content}}
	</body>
</html>
